body, h1, h2, p, ul, li, button {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    background-color: #282b29;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 80%;
    border-radius: 5px;
    position: fixed;
    top: 0;
    z-index: 100;
}

header h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

button {
    background-color: #282b29;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button#list-tests-link {
    background-color: #337ab7;
}

button#k {
    background-color: #337ab7;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 160px auto 0;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

section h2 {
    font-size: 24px;
}

#test h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#test-description {
    font-size: 16px;
    margin-top: 10px;
}

#questions-amount {
    font-weight: bold;
}

#start-button {
    background-color: #282b29;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

#question h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

#next-question-button {
    background-color: #282b29;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

footer {
    background-color: #282b29;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 80%;
    border-radius: 5px;
    bottom: 0;
    z-index: 100;
}

#test-previews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.test-preview {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    margin: 10px;
    width: 90%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.test-preview:hover {
    background-color: #337ab7;
    color: #fff;
}

.test-preview h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}

.test-preview p {
    font-size: 14px;
    text-align: left;
}
